*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.g-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: Medium 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles  */
.sh-title{
    color: #696670;
}






.header{
  max-width: 100%;

}
nav{
    background-color: #EAFFFD;
    width: 100%;
    margin: auto;
    
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 15px 0;
}
.nav-part1{
  display: flex;
  align-items: center;
}
.nav-part1 img{
    border-radius: 30%;
    width: 60px;
}
.nav-part1 h2{
    font-size: 3em;
    margin-left: 15px;
    letter-spacing: 5px;
    color: #3A3089;
    font-weight: 700;
}
.nav-part2{
    display: flex;
    align-items: center;
}
.nav-part2 button{
    padding: 5px 10px;
    font-size: 1.2em;
    background-color: #3A3089;
    color: white;
    border-radius: 5px;
}
.nav-part2 button:hover{
    background-color: #FF579F;
    transition: 1s;
    border: 1px solid #FF579F;
}
nav ul{
    
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 0 20px;    
    
}
nav ul li a {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 500;
   
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover{
     background-color: #333;
    color: white;
    transition: 1s;
    cursor: pointer;
}

/* ----Hero Part  */
.hero-container{
    max-width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('../images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.hero-all{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
    justify-content: space-between;
    
}
.hero-part{
    color: white;
}
.hero-part .hero-title{
    font-size: 3em;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.hero-btn{
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.5em;
    padding: 6px 10px;
    background-color: #3A3089;
    color: white;
    border-radius: 5px;
}


/* --main part  */
main{
    margin-top: 100px;
    max-width: 100%;
}
.main-container{
    width: 80%;
    margin: auto;
    background-image: linear-gradient(to right, #f6c4ed, #e1dae6);
}



.main-first{
    padding-top: 50px;
    text-align: center;
    
}
.main-first .mf-txt{
    margin: 6px 0;
}
.main-first span{
    color: tomato;
}
.mf-btn{
    margin-bottom: 50px;
}
/* --main-socond */
.main-second{

    display: flex;
    margin: 40px 20px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}
.sc-part1{
    text-align: end;
}
.sc-part1 h2{
    color: #FF0000;
    margin-bottom: 10px;
    font-size: 1.6em;
}
.sc-part1 h1{
    font-size: 3em;
    margin-bottom: 10px;

}
.sc-part2 {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 25px;
    margin-bottom: 50px;
}
.sc-part3{
    text-align: start;
    
}
.sc-part3 h1{
    color: #FF0000;
    font-size: 3em;
    margin-bottom: 10px;
}
.sc-part3 img{
    
}
.main-second hr{
    margin-top: 20px;
    height: 4px;
    margin-top: 10px;
    background-color: black;
}

/* ----main-third */


